* {
    margin: 0;
    //outline: 1px solid rebeccapurple;
    box-sizing:border-box;
    
}

body{
    overflow: hidden;
    height: 100vh;
}

.image__background{
    width: 100%;    
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
}

.form__container{
    
    &--main{
        padding: 1em;
        height: 14vh;
    }
}

.articles__itens{
    height: 300px;
    overflow: auto;
}

.div--nomarginbotton{
    margin-bottom:0;
}

.h5--lessweight{
    font-weight: 300;
}